
body {
	padding: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1, .h1, .title {
	font-size: 2rem;
	margin-top: 0;
}

p {
	color: rgb(72, 74, 80);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}

.logo-icon {
	display: flex;
	justify-content: space-between;
}

.logo-icon img {
	margin: 0.5rem;
	width: auto; /* Sesuaikan lebar gambar agar pas dalam satu baris */
	height: 8rem; /* Menjaga aspek rasio gambar */
}

.quarto-badge {
    vertical-align: text-bottom;
    font-size: .65em;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.badge {
    display: inline-block;
	margin-right: 0.5em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: rgb(255, 255, 255);
	background-color: rgb(122, 122, 122);
    text-align: center;
    vertical-align: baseline;
    padding: 0.35em 0.65em;
    white-space: nowrap;
}